body {
  box-sizing: border-box;
  height: fit-content;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
}
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h4 {
  font-family: "Poppins", sans-serif;
}
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  background-image: url("/images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  height: fit-content;
  width: 100%;
  padding: 4rem 6rem;
}

.huddle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div:first-child img {
  height: 3rem;
}
header div:first-child a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem 5rem;
  border-radius: 3rem;
  font-weight: bold;
  font-size: small;
  text-transform: capitalize;
}
.about-huddle {
  display: grid;
  grid-template-columns: 45fr 55fr;
  margin-top: 4rem;
  align-items: center;
  column-gap: 2rem;

  /*display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;*/
}

.about-huddle h1 {
  font-size: 3.8rem;
  font-weight: 400;
  width: 90%;
}
.about-huddle p {
  width: 95%;
}
.about-huddle article a {
  display: inline-block;
  color: #ffffff;
  background-color: hsl(322, 100%, 66%);
  padding: 1.5rem 7rem;
  border-radius: 70px;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.9;
}
.about-huddle h1,
.about-huddle p {
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
}

article a:hover,
.about-huddle a:hover {
  opacity: 0.5;
}
.about-huddle img {
  width: 100%;
  height: 100%;
}
/* MAIN SECTION*/

main {
  padding-top: 10rem;
  padding-bottom: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main div {
  width: 90%;
  height: fit-content;
  margin: 2rem auto;
  padding: 5rem 0;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 5px 3px rgb(220, 220, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main div img {
  width: 30%;
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 40%;
}

.conversation p {
  color: #777;
}
/*FOOTER*/
footer {
  width: 100%;
  background-color: hsl(192, 100%, 9%);
  padding: 20rem 5rem 10rem;
  position: absolute;
}
.footer-cont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer-cont section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.location-text {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.phone-text,
.email-text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.location-text img {
  margin-top: 5px;
}

.footer-cont section p {
  display: inline;
  color: white;
}
.footer-cont section a {
  display: block;
  text-decoration: none;
  color: white;
}
.test {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  gap: 1rem;
}
.ion-ico {
  color: white;
  font-size: 1.2rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
}

.floating {
  width: fit-content;
  background-color: white;
  box-shadow: 3px 3px 2px rgb(245, 241, 241);
  padding: 6rem 10rem;
  border-radius: 15px;
  position: relative;

  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.floating a {
  display: inline-block;
  color: #ffffff;
  background-color: hsl(322, 100%, 66%);
  padding: 2rem 9rem;
  border-radius: 30px;
  margin-top: 4rem;
  font-weight: 700;
  text-decoration: none;
}
.floating h2 {
  color: hsl(192, 100%, 9%);
}
small {
  color: white;
  margin-top: 14rem;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
