@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
  header {
    padding: 4rem 0;
  }
  .huddle {
    padding: 0 2rem;
  }
  .about-huddle {
    padding: 0 8rem;
  }

  .about-huddle {
    grid-template-columns: 1fr;
    row-gap: 9rem;
    margin-top: 11rem;
  }

  .about-huddle {
    text-align: center;
  }
  .about-huddle h1 {
    width: 100%;
  }
  .about-huddle p {
    font-size: 2.5rem;
    width: 100%;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  main div {
    flex-direction: column;
    margin: 4rem auto;
    padding: 8rem 5rem;
    text-align: center;
    gap: 6rem;
  }

  main div img {
    width: 90%;
  }
  .conversation {
    width: 75%;
  }
  .footer-cont {
    margin-top: 4rem;
    flex-direction: column;
    gap: 7rem;
  }
  .float-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .floating {
    transform: translateY(-50%);
    padding: 5rem 5rem;
  }
  .test {
    align-self: center;
  }
  .icons {
    margin-left: 6rem;
  }
  small {
    margin-top: 2rem;
  }

  .no-flexbox-gap .about-huddle img {
    margin-top: 9rem;
  }

  .no-flexbox-gap .conversation {
    margin-top: 6rem;
  }

  .no-flexbox-gap .conversation h2 {
    margin-bottom: 0.7rem;
  }
  .no-flexbox-gap .footer-cont section:not(:last-child) {
    margin-bottom: 7rem;
  }
  .no-flexbox-gap .icons-block div:not(:last-child),
  .no-flexbox-gap .links-block a:not(:last-child),
  .no-flexbox-gap .links-2-block a:not(:last-child) {
    margin-bottom: 2rem;
  }
  .no-flexbox-gap .location-text p,
  .no-flexbox-gap .phone-text p,
  .no-flexbox-gap .email-text p {
    margin-left: 20px;
  }

  .no-flexbox-gap .ion-ico:not(:last-child) {
    margin-right: 3rem;
  }

  .no-flexbox-gap .test small {
    margin-top: 4rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 6px;
  }
  header {
    padding: 4rem 0;
  }

  .huddle {
    padding: 0 2rem;
  }
  .about-huddle {
    padding: 0 8rem;
  }
  .about-huddle p {
    font-size: 2.3rem;
  }

  /* main div {
    flex-direction: column;
    margin: 4rem auto;
    padding: 8rem 5rem;
    text-align: center;
    gap: 6rem;
  } */

  main div img {
    width: 90%;
  }

  .conversation {
    width: 75%;
  }

  .floating {
    transform: translateY(-50%);
    padding: 5rem 4rem;
  }
}

@media (max-width: 320px) {
  .floating {
    padding: 5rem 1rem;
  }
  .about-huddle h1 {
    font-size: 3rem;
  }
}
